body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif;
}
body {
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
}
#imom-logo {
  max-width:250px;
  margin-top: 30px;
}

/* over-ride Bootstrap classes for custom navbar */
.navbar {
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0); 
    box-shadow: 0 1px 10px rgba(0,0,0,0); 
    background-image: none;
    border-bottom: none;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.nav {
  padding-top: 100px;
}
@media only screen and (max-width: 500px) {
  .nav {
    padding-top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar .dropdown-menu a {
    color: #333333;
  }
  .navbar .dropdown-header {
    color: #999999;
  }
}
/* timer modal styles */
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-color: #1f1d1d;
  }

.modal-body>input {
  font-family: inherit;
  font-size: 2em;
  line-height: inherit;
  color: #dd5600;
  background-color: transparent;
  border: none;
  padding-top: 37%;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.thumb {
  width: 20%;
}


.navbar-toggle {
  margin-top: 110px;
}
.navbar-toggle .icon-bar{ 
  background-color: #2fa4e7;
}


.jumbotron {
  background-image: url(https://www.freewebheaders.com/wordpress/wp-content/gallery/yoga-meditation/chinese-shaolin-monk-meditating-website-header.jpg);
  background-position: center;
  background-size: cover;
  color: #f5f5f5;
  font-size: large;
  font-weight: bold;
  min-height: 400px;
  padding-top: 150px;
}

@media screen and (max-width: 699px) and (min-width: 520px) {
  .jumbotron {
      padding-top: 100px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  jumbotron {
      padding-top: 150px;
  }
}


input#intention-text-box {
  width: 75%;
}

.hidden {
  visibility: hidden;
}

.hide-buttons {
  width: 30%;
  min-height: 150px;
  font-size: 20pt;
}

#startButton {
  text-align: center;
}