{% extends "base.html" %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1">
    <h2>My Meditation Diary</h2>
    <hr>
    <p>
        Remember: You need to Meditate using the timer in order to fill in your diary.
    </p>
    <hr>
    {% for entry in entries %}
       <div>
           <h2>On {{ entry.created_date }}</h2>
           <br>
           <h2>During my meditation </h2>
           <p>My body felt {{ entry.body }} and my mind {{ entry.mind }}</p>
           <h2>I had the following thoughts, insights or feelings:</h2>
            <p>{{ entry.insights|linebreaks }}</p>
            <br><hr>
           <p><button class="btn btn-default" onclick="location.href={{ entry.id }}">Read More</button></p>
           <br><hr>
       </div>
    {% endfor %}
</div>
{% endblock %}