{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static "js/stripe.js" %}"></script> 
{% endblock %}

{% block content %}
<div class="col-sm-10 col-sm-offset-1">
    <h2>Register</h2>
    <hr>
    <p>The cost to register for a full account will be a once off payment of €2.50
        and this will be used solely to pay for the hosting of this site, or, from
        time to time to buy myself a nice cup of tea (I don't drink coffee). 
    </p>
    <p>
        However, as the site is still in testing mode you can sign up with the test visa
        card number 4242 4242 4242 4242, the CVV 123 and an expiry date set in the future.
    </p>
    <p>
        Thank you so much for visiting.
    </p>
    <p>
        Peace.
    </p>
    <hr>
<form role="form" method="post" id="register-form" action="{% url 'register' %}">
    <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <legend>Create a new account</legend>
    {% csrf_token %}
    {{ form | as_bootstrap }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create account</button>
    </div>
</form>
</div>
{% endblock %}