{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Meditation Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "/css/mystyle.css" %}">

</head>
<body>
<div class="container">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'timer' %}">Timer</a></li>
            <li><a href="#">Contact</a></li>

                <li><a href="#">Log Out</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Log In</a></li>

        </ul>
        <h1><span class="fui-settings-16 muted">Sit Spot</span></h1>
    </div>
    <hr>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
 
 
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    <div class="footer">
        <p>Made By Paul Fleming using Django </p>
        <p>Meditation Timer is free and always will be.</p>
        <p>If you like the app consider buying me some tea (I don't drink coffee)</p>
    </div>
</div>
</body>
 
<!-- script references -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
</script>
    {% block scripts %}
    {% endblock %}
</html>