{% extends "base.html" %}

{% block content %}
    <h1>My Meditation Diary</h1>
    <hr>
    {% for entry in entries %}
       <div>
           <div>
               <h1></h1>
           </div>
           <h3><a href="">{{ entry.title }}</a></h3>
           <p>On {{ entry.created_date }}</p>
           <p>During my meditation</p>
           <p>My body was feeling: {{ entry.body|linebreaks }}</p>
           <p>My mind was feeling: {{ entry.mind|linebreaks }}</p>
           <p>I had the following thoughts, insights or feelings:</p>
            <p>{{ entry.insights|linebreaks }}</p>
           <p><button class="btn btn-default" onclick="location.href={{ entry.id }}">Read More</button></p>
       </div>
    {% endfor %}
{% endblock %}