{% extends "base.html" %}

{% block content %}
       <div>
            <p>On {{ entry.created_date }}</p>
            <p>During my meditation</p>
            <p>My body was feeling: {{ entry.body|linebreaks }}</p>
            <p>My mind was feeling: {{ entry.mind|linebreaks }}</p>
            <p>I had the following thoughts, insights or feelings:</p>
             <p>{{ entry.insights|linebreaks }}</p>
           <p><button class="btn btn-default" onclick="location.href='/diaryentries'">Back to Diary</button></p>
       </div>
{% endblock %}