{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h1>Meditation Guide - How To Meditate?</h1>
    <hr>
    <h3>1 - Don't Overthink It</h3>
    <p>Many people decide they want to begin meditating only to realize they have 
        no idea where to start. This naturally leads to questions like, "How do i
        meditate?", "What technique should I use?" or "How do I start meditating?" 
        and in truth there are many answers to these questions, but don't worry, 
        because meditation is very easy and too often it get's over 
        complicated. So the first step is <strong>don't overthink it</strong>.
    </p>
    <h3>2 - Think Of Meditation As Playtime For Your Mind</h3>
    <p>
        We all love to play, no matter how old we are, playing makes us smile and feel 
        good. So think of your meditation time as play time for your mind and you'll love it from
        the start. And just like when you were younger and you had many different ways to
        play, in meditation there are many different ways and methods we can play with to see what 
        works for us. By trying out different techniques in this playful manner we start to train 
        the mind to be more comfortable with meditating in the first place and before long you
        won't be concerened with things like 'how to meditate', instead you'll simply sit down,
        meditate and have fun letting your mind have it's play time.
    </p>
    <h3>3 - Make Yourself Comfortable</h3>
    <p>
        Being comfortable is one of the greatest things in life. When we're comfortable everything
        around us flows much smoother and easier. This holds true with mediatation too, so before you
        start make sure you're comfortable and that you won't be disturbed. This is your time for you
        and you alone, so get as comfortable as you can (without falling asleep of course) and the rest
        of your meditation will go much more smoothly. Also, don't worry about which pose to sit in or 
        whether your spine is as straight as a gymnasts or any of that stuff, just get comfortable 
        either sitting or lying down and prepare to begin.
    </p>
    <h3>4 - Become A Silent Observer</h3>
    <p>
        So now you're sitting down, you're comfortable and it's time to begin, so what do you do? You
        sit (or lie) and you observe. You observe your breath, you observe the sensations in your body,
        you observe the thoughts in your mind, you observe the things you hear, you observe the feelings 
        you feel and you observe the things you see. But you do it all as a silent observer, which means
        that you observe everything without passing any judgement. You simply sit and watch as the feelings,
        thoughts, emotions and sensations pass by. Think of it like this:
    </p>
    <p>
        When you sit to meditate, the inside of your mind is like a TV Screen showing you a never-ending movie 
        where all the characters are the feelings you're feeling, the noises you're hearing, the thoughts you're
        thinking, the breath flowing in and out of your body and the things that you're seeing. These characters 
        will go on and on and on doing whatever it is that they do forever and ever, and they'll do it becuase 
        that is their nature: a mind will always think thoughts in the same way that a body will always feel sensations.
        We cannot stop these characters on the screen within our minds from doing what they're doing, but in the 
        same way that we cannot stop the characters in a movie on a cinema screen from doing whatever they're 
        doing either and this is the essence of The Silent Observer: You sit and observe your feelings, thoughts and 
        sensations without getting involved with them, passing judgement on them or taking any action upon them
        other than simply watching and observing them.
    </p>
    <h3>5 - Don't Stop Thinking: Prolong The Gaps Between Your Thoughts Instead</h3>
    <p>
        In relation to mediatation we quite often hear things like "Stop thinking", "turn off your mind", or 
        "clear your thoughts", but this is the wrong way to look at it, because, like we just discussed: a 
        mind will always think thoughts. It's a mind! That's what they do! So... instead of trying to "stop thinking"
        just let your thoughts be and as they arise let them pass you by without judgement. You'll find that over 
        time, the more you let your thoughts pass you by in this silent, observant manner the more you will notice 
        the gaps between these thoughts prolonging and when you are able to hang out in that space: you won't want 
        to leave!
    </p>
    <h3>6 - Find Your Anchor</h3>
    <p>
        A very important thing to have in meditation is an anchor: that is a reference point or tool to help you
        sink into your meditation and to bring you back to center when your mind wanders away while meditating. 
        There are different types of anchors, which I'll discuss below but you should play around with different
        types to see what works for you, and don't be afraid to experiment and mix them together, I myself use 
        three different anchors when I meditate.
    </p>
    <ul>
        <li><h4>Breath</h4></li>
        <li>Probably the simplest of all the anchors. Quite simply this is where you observe your breath. You
            watch silently as you inhale and exhale without forcing or trying to lengthen or shorten the breath
            in any way. When your mnd wanders (which it will) you simply bring your attention back to observing
            your breath and let the thoughts you were playing with drift away.
        </li>
        <li><h4>A Focus Image</h4></li>
        <li>Many people use meditation statues: statues that you look at and focus on while you meditate. Images 
            do the same thing. I recommend meditating while looking at an image of the Yin-Yang symbol. Many people
            use images and statues of Buddha, Ganesh, or their favorite spiritual teacher. It doesn't really matter:
            just pick something that resonates with feelings of peace, joy and happiness for you. And again, if you're 
            mind wanders simply bring your attention back to your Focus Image.
        </li>
        <li><h4>Music or Mantra</h4></li>
        <li>Many people like to listen to relaxing music to help center them in meditation while others like to use
            mantras. Mantras are basically phrases that you repeat over and over and over, you can say them in your 
            mind or out loud, whatever feels good for you. One of the most famous mantras is "Om Mani Padme Om", but 
            there are many more and you can of course make up your own. The same thing goes with mantras and music:
            when the mind wanders bring the attention back to the music or the mantra while letting the thoughts float
            on by.
        </li>
    </ul>
    <h3>7 - Have Fun, Experiment and Don't Try Too Hard</h3>
    <p>
        The most important part is have fun! When we have fun nothing is a task or a chore. It's fun, it's beautiful
        and it recharges the batteries of the body, mind and spirit. Having fun makes us laugh, smile and play and 
        who doesn't like laughing, smiling and playing? Never mind the numerous health benefits associated with feeling
        good (endophins are wonderful things!) 
    </p>
    <p>
        Experiment with different anchors, different mediatation poses, different methods. Play, experiment and see
        what works for you. Try to find you're own formula for meditation and prolonging the gaps between those thoughts.
    </p>
    <p>
        Don't try too hard. Meditation is a natural state for all humans to be in. Your body knows what meditation 
        is and what it feels like. Your mind tries to convince you that it doesn't, but it does, in the 
        exact same way that it knows how to breath: it's in it's nature. So don't try too hard, trying too hard gets in 
        the way of the natural states of things. Let things be, become a silent observer and hang out in the gaps between
        your thoughts.
    </p>
    <hr>
{% endblock %}