{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container text-center">
        <div class="jumbotron">
          <div id="quoteDisplay"></div>
          <br><br>
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Hello, Meditators!</h2>
            <h4>Thanks for coming. I hope you enjoy using the meditation timer.
                You can use it as much as you like for free and without 
                registering an account. However, if you register you get some
                pretty cool personalization features:
            </h4>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>Annonymous User</th>
                        <th>Registered User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Set Intentions</strong></td>
                        <td>Unavailable</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td><strong>Meditation Insight Diary</strong></td>
                        <td>Unavailable</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td><strong>Custom Focus Images</strong></td>
                        <td>Unavailable</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td><strong>Custom Background Audio</strong></td>
                        <td>Unavailable</td>
                        <td>Available</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <h4>Don't forget to check out our meditation guide.</h4>
            <h4>And check back soon as I'll be adding more features in the future.</h4>
            <h4>Peace, love and many thanks for visiting.</h4>
            <h4>Namaste</h4>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super}}
        <!-- Custom script to control the quote generator -->
        <script type="text/javascript" src="{% static "js/quote.js" %}"></script>
{% endblock %}