{% extends 'timer.html' %}
{% load static %}

{% block intentionblock %}
    <h2>Do you want to set an intention for your meditation?</h2>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Examples
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> I dedicate my meditation to calming my mind</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  I decdicate my meditation to reducing stress in my life </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  I dedicate my meditation to someone in need </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  I dedicate my meditation to all the sick people in the world </a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">  I dedicate my meditation to improving our environment </a></li>
        </ul>
    </div>
    <input type="text" id="intention" value=" set intention">
    <br><br>
{% endblock %}


{% block myaudiofiles %}
    {% for audio in myaudio %}
        <label class="btn btn-primary" onclick="setAmbient(this.id)">
            <input type="radio" name="options" autocomplete="off" > {{ myaudio.name }}
        </label>
  {% endfor %}
{% endblock %}

{% block myimagefiles %}
    {% for image in myimages %}
        <div class="col-md-4 col-sm-4 col-xs-3">
            <img class="img-responsive focus-image" onclick="setImage(this.id)" src="/media/{{ image.myimage }}" />
        </div>
    {% endfor %}
{% endblock %}

