{% extends 'timer.html' %}
{% load static %}




{% block myaudiofiles %}
    {% for audio in myaudio %}
        <label class="btn btn-primary" onclick="setAmbient(this.id)">
            <input type="radio" name="options" autocomplete="off" > {{ myaudio.name }}
        </label>
  {% endfor %}
{% endblock %}

{% block myimagefiles %}
    {% for image in myimages %}
        <div class="col-md-4 col-sm-4 col-xs-3">
            <img class="img-responsive focus-image" onclick="setImage(this.id)" src="/media/{{ image.myimage }}" />
        </div>
    {% endfor %}
{% endblock %}

