{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_js %}
<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static "js/stripe.js" %}"></script> 
{% endblock %}

{% block content %}
    <form role="form" method="post" action="{% url 'register' %}">
        <legend>Create a new account</legend>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create account</button>
        </div>
    </form>
{% endblock %}