{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <h2>Timer Page!</h2>
    <div id="container">
        <p>How long do you want to meditate for?</p>
        <button id="threeMin" onclick="setThreeMin()">3 min</button>
        <button id="fiveMin" onclick="setFiveMin()">5 min</button>
        <button id="sevenMin" onclick="setSevenMin()">7 min</button>
        <button id="tenMin" onclick="setTenMin()">10 min</button>
        <button id="thirteenMin" onclick="setThirteenMin()">13 min</button>
        <button id="fifteenMin" onclick="setFifteenMin()">15 min</button>
        <br><br>
        
        
        <input type="text" id='text' value="  choose time">
        <br><br>
        <input type="button" value="Begin" onclick="startMe();">
        <input type="button" value="Pause" onclick="stopMe();">
        <input type="button" value="Finish Early" onclick="resetMe();">
        
        <p>Do you want to set an intention for your meditation?</p>
        <input type="text" id="intention" value=" set intention">
        <p>Choose Bell Sound</p>
        <button id="bellOne" onclick="setBellOne()">Bell One</button>
        <button id="bellTwo" onclick="setBellTwo()">Bell Two</button>
        <button id="bellThree" onclick="setBellThree()">Bell Three</button>
        <button id="bellFour" onclick="setBellFour()">Bell Four</button>    
    </div>

    <audio class="bells" id="bell-one">
        <source src="{% static "/media/audio/bells/bellOne.mp3" %}">
    </audio>
    <audio class="bells" id="bell-two">
        <source src="{% static "/media/audio/bells/bellTwo.mp3" %}">
    </audio>
    <audio class="bells" id="bell-three">
        <source src="{% static "/media/audio/bells/bellThree.mp3" %}">
    </audio>
    <audio class="bells" id="bell-four">
        <source src="{% static "/media/audio/bells/bellFour.mp3" %}">
    </audio>

{% endblock %}

{% block scripts %}
    {{ block.super}}
    <!-- Add Moment.js for easier time formatting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- Custom script to control the timer -->

    <script type="text/javascript" src="{% static "js/timer.js" %}"></script>
{% endblock %}